<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>About Us</title>
  <link rel="stylesheet" href="/css/about.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<!-- <body>
  <h1>about</h1>
  <pre>
    Welcome to CinemaWorld!
  </pre>
  <pre>
    At CinemaWorld, we believe that movies have the power to transport you to another world,
    and that's exactly what we aim to do with every screening we host. Since our doors first 
    opened, we've been dedicated to providing an immersive, high-quality movie-going
    experience to everyone who walks through our doors.
  </pre>
  <pre>
    From our luxurious theaters to our state-of-the-art sound systems, every aspect of our 
    business has been designed to make you feel like you're right in the middle of the action.
    Whether you're here for the latest blockbuster hit or a classic film, our team of experienced
    projectionists and sound engineers work tirelessly to ensure that every detail is perfect.
  </pre>
  <pre>
    But we're more than just a movie theater. At CinemaWorld, we're passionate about film and
    the impact it can have on people's lives. That's why we host a variety of special events and
    screenings, from Q&A sessions with filmmakers to classic film retrospectives and more.
  </pre>
  <pre>
    We're proud to be a part of this community, and we're committed to making CinemaWorld a
    place where everyone feels welcome. Whether you're a longtime film buff or a newcomer to
    the world of cinema, we hope that you'll make CinemaWorld your go-to destination for
    movie-going.
  </pre>
  <pre>
    So why not join us for your next movie experience? We can't wait to welcome you to
    CinemaWorld!
  </pre>
</body> -->

<body>
  <header>
    <h1>About Us</h1>
  </header>
  <section>
    <h2>Our Mission</h2>
    <pre>
        Welcome to CinemaWorld!
      </pre>
    <pre>
        At CinemaWorld, we believe that movies have the power to transport you to another world,
        and that's exactly what we aim to do with every screening we host. Since our doors first 
        opened, we've been dedicated to providing an immersive, high-quality movie-going
        experience to everyone who walks through our doors.
      </pre>
    <pre>
        From our luxurious theaters to our state-of-the-art sound systems, every aspect of our 
        business has been designed to make you feel like you're right in the middle of the action.
        Whether you're here for the latest blockbuster hit or a classic film, our team of experienced
        projectionists and sound engineers work tirelessly to ensure that every detail is perfect.
      </pre>
    <pre>
        But we're more than just a movie theater. At CinemaWorld, we're passionate about film and
        the impact it can have on people's lives. That's why we host a variety of special events and
        screenings, from Q&A sessions with filmmakers to classic film retrospectives and more.
      </pre>
    <pre>
        We're proud to be a part of this community, and we're committed to making CinemaWorld a
        place where everyone feels welcome. Whether you're a longtime film buff or a newcomer to
        the world of cinema, we hope that you'll make CinemaWorld your go-to destination for
        movie-going.
      </pre>
    <pre>
        So why not join us for your next movie experience? We can't wait to welcome you to
        CinemaWorld!
      </pre>
  </section>
  <section>
    <h2>Our Team</h2>
    <p>Our team is made up of experts in their respective fields, with a passion for excellence and a drive to always go
      above and beyond for our customers.</p>
    <div class="row">
      <div class="col-md-3">
        <div class="thumbnail">
            <img src="https://medias.unifrance.org/medias/140/109/224652/format_page/media.jpg" alt="Lights" style="width:70%">
            <div class="caption">
            <p>Gal</p>
              <p>Head of R&D</p>
            </div>
          </a>
        </div>
      </div>
      <div class="col-md-3">
        <div class="thumbnail">
            <img src="https://cdn.shopify.com/s/files/1/0747/3829/products/mHP0138_1024x1024.jpeg?v=1571444282" alt="Nature" style="width:70%">
            <div class="caption">
            <p>Daniel</p>
              <p>Devops engineer</p>
            </div>
          </a>
        </div>
      </div>
      <div class="col-md-3">
        <div class="thumbnail">
            <img src="https://m.media-amazon.com/images/M/MV5BYjhiNjBlODctY2ZiOC00YjVlLWFlNzAtNTVhNzM1YjI1NzMxXkEyXkFqcGdeQXVyMjQxNTE1MDA@._V1_FMjpg_UX1000_.jpg" alt="Nature" style="width:70%">
            <div class="caption">
            <p>Elad</p>
              <p>Backend developer </p>
            </div>
          </a>
        </div>
      </div>
      <div class="col-md-3">
        <div class="thumbnail">
            <img src="https://dx35vtwkllhj9.cloudfront.net/paramountpictures/babylon/images/posters/image5.jpg" alt="Nature" style="width:70%">
            <div class="caption">
            <p>Itay</p>
              <p>Frontend developer</p>
            </div>
          </a>
        </div>
      </div>
  </section>
  <section>
    <h2>Contact Us</h2>
    <p>If you have any questions or comments, please don't hesitate to contact us at <a
        href="mailto:info@cinema_world.com">info@cinema_world.com</a>.</p>
  </section>
  <footer>
    <p>Copyright © 2023 CinemaWorld</p>
  </footer>
</body>
<footer>
  <script src="/js/admin.js"></script>
</footer>

</html>