<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin</title>
    <link rel="stylesheet" href="/css/admin.css">
    <link rel="stylesheet" href="/css/manage-movies-form.css">
    <link rel="stylesheet" href="/css/manage-screens-form.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body>
    <header>
        <a href="/"><img src="/assets/slogan_white.png" href="/" class="icon-img"></a>
        <h1>Admin page</h1>
    </header>
    <ul id="navbar" class="nav justify-content-center">
        <li class="nav-item"><a id="createMovieFormLink" onclick="loadPanel('admin/createMovieForm')">Add new movie</a></li>
        <li class="nav-item"><a id="manageMoviesFormLink" onclick="loadPanel('admin/manageMoviesForm')">Manage movies</a></li>
        <li class="nav-item"><a id="createScreenFormLink" onclick="loadPanel('admin/createScreenForm')">Add new screen</a></li>
        <li class="nav-item"><a id="manageScreensFormLink" onclick="loadPanel('admin/manageScreensForm')">Manage screens</a></li>
        <li class="nav-item"><a id="createHallFormLink" onclick="loadPanel('admin/createHallForm')">Add new hall</a></li>
        <li class="nav-item"><a id="manageHallsFormLink" onclick="loadPanel('admin/manageHallsForm')">Manage halls</a></li>
    </ul>
    <div id="admin-panel"></div>
    <footer>
        <script src="/js/admin.js"></script>
        <p>Copyright © 2023 CinemaWorld</p>
      </footer>
</body>
</html>