<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>admin</title>
    <link rel="stylesheet" href="/css/order_tickets.css">
</head>

<body>
    <h1>Create movie</h1>
    <div class="form-horizontal">

        <div class="form-group">
            <div class="col-sm-10">
                <label class="control-label col-sm-1" for="text">Name</label>
                <input type="text" class="form-control" id="name" placeholder="Movie name">
            </div>
            <div class="col-sm-10">
                <label class="control-label col-sm-1 " for="text">Release Date</label>
                <input type="datetime-local" class="form-control" id="release-date">
            </div>
            <div class="col-sm-10">
                <label class="control-label col-sm-1 " for="text">Genres</label>
                <input type="text" class="form-control" id="genre">
            </div>
            <div class="col-sm-10">
                <label class="control-label col-sm-1 " for="text">Duration</label>
                <input type="number" class="form-control" id="duration">
            </div>
            <div class="col-sm-10">
                <label class="control-label col-sm-1 " for="text">Img url</label>
                <input type="text" class="form-control" id="img-url">
            </div>
            <div class="col-sm-10">
                <label class="control-label col-sm-1 " for="text">video url</label>
                <input type="text" class="form-control" id="video-url">
            </div>
            <h2>Screen</h2>
            <div class="col-sm-10">
                <label class="control-label col-sm-1 " for="text">Time</label>
                <input type="datetime-local" class="form-control" id="time">
            </div>
            <div class="col-sm-10">
                <label class="control-label col-sm-1 " for="text">Hall Number</label>
                <input type="number" class="form-control" id="hall">
            </div>
            <div class="col-sm-10">        
                <div class="control-label col-sm-1">
                  <button id="AppointmentSubmitButton" onclick="onCreateMovie()" class="btn btn-default">Send</button>
                  <div class="statusOutput"></div>
                </div>
            </div>
        </div>
    </div>
</body>
<footer>
    <script src="/js/admin.js"></script>
</footer>

</html>