<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>movies</title>
    <link rel="stylesheet" href="/css/movies.css">
</head>

<body>
    <div class="slogan-div">
        <img src="/assets/slogan_white.png" class="icon-img">
    </div>
    <div class="poster-container"></div>

    <div class="select-movie">

        <div id="orderTicketsBox">
            <header class="order-tickets-title">Order tickets</header>
            <form action="" method="post" class="order-tickets-form">
                <div id="firstselect" class="select-div"></div>
                <div id="secondselect" class="select-div"></div>
                <div id="thirdselect" class="select-div"></div>
                <button type="submit" class="input-select-movie send-btn">Order</button>
            </form>
        </div>

    </div>
    <h1 class="movie-cards-title">Now in the cinema</h1>
    <div class="movie-cards-container">
        <img class="movie-card" src="/assets/movie_cards/movie_card1.png" alt="">
        <img class="movie-card" src="/assets/movie_cards/movie_card2.png" alt="">
        <img class="movie-card" src="/assets/movie_cards/movie_card3.png" alt="">
        <img class="movie-card" src="/assets/movie_cards/movie_card4.png" alt="">
    </div>

    <div class="container-fluid">
        <main role="main" class="pb-3">
            <%for (var i=0; i < movies.length; i++) {%>
                <article>
                    <span>
                        <%=movies[i].name%>
                    </span>
                    <span>
                        <%=movies[i].releaseDate%>
                    </span>
                    <span>
                        <%=movies[i].genre%>
                    </span>
                    <span>
                        <%=movies[i].duration%>
                    </span>
                </article>
                <%}%>
        </main>
    </div>
</body>
<footer>
    <script src="/js/movies.js"></script>
    <script src="/js/order_box.js"></script>
</footer>

</html>