<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>movies</title>
    <link rel="stylesheet" href="/css/movies.css">
</head>
<body>
    <div class="slogan-div">
        <img src="/assets/slogan_white.png" class="icon-img">
    </div>
    <div class="poster-container"></div>

    <div class="select-movie">
        <h1>put elad code here!</h1>
    </div>
    <h1 class="movie-cards-title">Now in the cinema</h1>
    <div class="movie-cards-container">
        <img class="movie-card" src="/assets/movie_cards/movie_card1.png" alt="">
        <img class="movie-card" src="/assets/movie_cards/movie_card2.png" alt="">
        <img class="movie-card" src="/assets/movie_cards/movie_card3.png" alt="">
        <img class="movie-card" src="/assets/movie_cards/movie_card4.png" alt="">
    </div>

    <div class="container-fluid">
        <main role="main" class="pb-3">            
            <%for (var i = 0; i < movies.length; i++) {%>                
                <article>                    
                    <span><%=movies[i].id%></span>
                    <span><%=movies[i].title%></span>
                    <span><%=movies[i].content%></span>
                </article>
            <%}%>            
        </main>
    </div>
</body>
<footer>
    <script src="/js/movies.js"></script>
</footer>
</html>