<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>movies</title>
    <link rel="stylesheet" href="/css/movies.css" />
    <!-- <script
      src="https://code.jquery.com/jquery-3.6.3.slim.min.js"
      integrity="sha256-ZwqZIVdD3iXNyGHbSYdsmWP//UBokj2FHAxKuSBKDSo="
      crossorigin="anonymous"
    ></script> -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/js/movies.js"></script>
  </head>

  <body>
    <div class="slogan-div">
      <img src="/assets/slogan_white.png" class="icon-img" />
      <a href="about">about</a>
      <a href="admin">admin</a>
    </div>
    <div class="poster-container"></div>

    <div class="select-movie">
      <div id="orderTicketsBox">
        <header class="order-tickets-title">Order tickets</header>
        <form
          action="http://localhost:8080/screen"
          method="get"
          class="order-tickets-form"
        >
          <select id="selectmovie" onchange="onSelectMovieSearch(event)" class="input-select-movie">
            <option selected>choose a movie</option>
            <%for (var i=0; i < movies.length; i++) {%>
            <option value="<%= movies[i]._id %>"><%=movies[i].name%></option>
            <%}%>
          </select>
          <select id="selectdate" class="input-select-movie">
            <option selected>choose a date</option>
          </select>
          <select id="selecthour" class="input-select-movie">
            <option selected>choose an hour</option>
          </select>
          <button type="submit" class="input-select-movie send-btn">
            Order
          </button>
        </form>
      </div>
    </div>
    <h1 class="movie-cards-title">Now in the cinema</h1>

    <!-- if you dont have records in the mongo, enable this -->
    <!-- <div class="movie-cards-container">
        <img class="movie-card" src="https://m.media-amazon.com/images/M/MV5BYjhiNjBlODctY2ZiOC00YjVlLWFlNzAtNTVhNzM1YjI1NzMxXkEyXkFqcGdeQXVyMjQxNTE1MDA@._V1_FMjpg_UX1000_.jpg" alt="">
        <img class="movie-card" src="https://dx35vtwkllhj9.cloudfront.net/paramountpictures/babylon/images/posters/image5.jpg" alt="">
        <img class="movie-card" src="https://medias.unifrance.org/medias/140/109/224652/format_page/media.jpg" alt="">
        <img class="movie-card" src="https://cdn.shopify.com/s/files/1/0747/3829/products/mHP0138_1024x1024.jpeg?v=1571444282" alt="">
    </div> -->

    <div class="movie-cards-container">
      <%for (var i=0; i < movies.length; i++) {%>
      <img class="movie-card" alt="" src="<%=movies[i].img%>" />
      <%}%>
    </div>
  </body>
</html>
