body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background-color: #daeefc !important;
}

header {
  background-color: #161438;
  color: #fff;
  padding: 20px;
}

h1 {
  text-align: center;
}

h2 {
  margin-left: 15px !important;
}

main {
  padding: 20px;
}

section {
  margin-bottom: 20px;
}

footer {
  background-color: #161438;
  color: #fff;
  padding: 10px;
  text-align: center;
}

.movie-cards-container {
  display: flex;
  justify-content: space-between;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 5%;
}

.movie-card {
  max-width: 270px;
  width: 20%;
}

.icon-img {
  width: 242px;
  height: 62px;
  position: absolute;
  left: 0;
  cursor: pointer;
}

.about-content pre {
  padding: 0;
  margin: 0;
  border: none;
  font-family: Arial, sans-serif;
  background: none;
  font-size: 18px;
}

.about-content p {
  padding: 0;
  margin: 0 17px 10px;
  border: none;
  font-family: Arial, sans-serif;
  background: none;
  font-size: 18px;
}