<table id="screens-table">
    <thead>
        <tr>
            <th>Movie</th>
            <th>Time</th>
            <th>Hall</th>
            <th>Control</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>