<table id="movie-table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Release Date</th>
            <th>Genre</th>
            <th>Duration</th>
            <th>Image</th>
            <th>Control</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>