<table id="halls-table">
    <thead>
        <tr>
            <th>Number</th>
            <th>Rows</th>
            <th>Columns</th>
            <th>Control</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>